  div.welcome-header {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .welcome-header h1{
    font-family: "Major Mono Display", monospace;
    font-size: 13vw;
    transition: 1.5s all;
    background: url(https://github.com/mnichols08/LambdaSchool-Preprocessing1/blob/master/img/code.jpg?raw=true);
    text-transform: uppercase;
    background-attachment: fixed;
    background-position: top;
    background-repeat: none;
    background-size: cover;
    font-weight: 800;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
    color: transparent;
    filter: drop-shadow(0px 0px 3px #fff);
    margin-top: -5%;
  }
  .welcome-header h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #eee;
    color: #333;
    text-transform: uppercase;
    box-shadow: 0 3px 3px rgba(46, 0, 121, 0.3);
    transition: 1.5s all;
  }