.portfolio {
    margin: 7em auto 1em auto;
    position: relative;
    bottom: 5em;
    max-width: 1080px;
}

.portfolio h1 {
    font-size: 4em;
}

.portfolio ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.portfolio ul > li {
    width: 50%;
}

@media only screen and (max-width: 900px) {
    .portfolio ul{
      flex-direction: column;
    }
    .portfolio ul > li {
        width: 100%;
    }
}