.resume {
    display: flex;
    margin: auto;
    width: 75%;
    margin-top: 5em;
    max-width: 1080px;
}

@media only screen and (max-width: 900px) {
  .resume{
    flex-direction: column;
  }
}

@media only screen and (max-width: 460px) {
    .resume {
      width: 100%;
    }
  }