.extras ul > div:nth-of-type(2){
    text-align: right;
}

.extras ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 900px) {
    .extras ul {
      flex-direction: column;
    }
}