.history ul.job > div:nth-of-type(2){
    text-align: right;
}

.history ul.job{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 900px) {
    .history ul.job {
      flex-direction: column;
    }
}