body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(45deg, #04776e, #020970 );
  max-height: 100vh;
  background-attachment: fixed;
  color: #90d6f1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #0c054b;
  text-decoration: none;
}
a:visited {
  color:#3795BD;
}
a:visited:hover {
  color: #0c054b;
}
a:hover {
  color: #3795BD;
  text-decoration: underline;
}

footer a{color:#ffffff;}

header.watermark{
	top:0;
	left:0;
	height:5em;
	width:100%;
	position:absolute;
	background:#0000006f;
	text-align:center;
	color:hsl(240,20%,95%);
}
.header.watermark{
	min-height:4.4em;
	position:relative;
	background:linear-gradient(#00000000,#00000000,#00000000,#0000006f);
}
.header.watermark h1{
	margin-bottom:0;
	min-width:180px;
}
.header.container p{
	min-width:180px;
	margin-top:-.25em;
}
footer.watermark{
		display:flex;
		justify-content:center;
		position:fixed;
		bottom:0;
		left:0;
		width:100%;
		height:3em;
	  background: linear-gradient(#0000006f,#0000005f,#000000f0,#000000f0);
		color: #d5d5d5;
  	margin: 0;
}
.text-yellow{
	color:yellow;
}
.text-red{
	color:red;
}
.text-green{
	color:green;
}
footer li a{
  color:#00f;
}